
:root{

  /*PRIMERA PALETA PRUEBA*/
  --first:#245953;
  --second:#408E91;
  --third:#E49393;
  --forth:#D8D8D8;

  /*SEGUNDA PALETA PRUEBA*/
  --first_v2:#A9EEE6;
  --second_v2:#FEFAEC;
  --third_v2:#F9A1BC;
  --fourth_v2:#625772;


}
