@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{

  /*PRIMERA PALETA PRUEBA*/
  --first:#245953;
  --second:#408E91;
  --third:#E49393;
  --forth:#D8D8D8;



  /*SEGUNDA PALETA PRUEBA*/
  --first_v2:#AACFCF;
  --second_v2:#FEFAEC;
  --third_v2:#ffe7e7;
  --fourth_v2:#596E79;
  --white:#FFFFFF;
  --blue:#F4F9F9;
  --pink:#FFFAFA;
  --black:#393053;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  min-height: 100vh;
  background-color: var(--blue);
}